<footer class="site-footer">
  <div class="container">
    <hr/>
    <div class="row">
      <div class="col-xs-6">
        <p>
          &copy; 2013–2016 Lifecode, Inc.<br/>
          &copy; 2016 Contributors to the CloudKeeper project
        </p>
      </div>
      <div class="col-xs-6">
        <p class="text-right">
          CloudKeeper is Open Source and<wbr/> available under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache 2 License</a>.
        </p>
      </div>
    </div>
  </div>
  <span></span>
</footer>
